<!DOCTYPE html>
<html xmlns:th="http://www.thymelfea.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="../views/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <title>Notas Controller</title>
    </head>

    <body style="background: rgb(0,0,0); background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(10,77,19,1) 58%, rgba(0,0,0,1) 100%);">
      <div class="gmm">
        <span class="title-controller">CONTROLLER <br>NOTAS</span>
        <br>
        <a class="backto" href="../index.html">BACK TO HOME</a>
        <br>
        <br>
        <hr>
        <br>
        <span class="subtitle-controller">Notas</span>
        <table style="margin-top: 20px" class="minimalistBlack">
          <thead>
              <tr>
                <th>TYPE</th>
                <th>CONTROLLER</th>
                <th>MAPPER</th>
                <th>ENDPOINT</th>
                <th>VARIABLES</th>
                <th>Descripcion</th>
                <th>EJEMPLO</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td class="negri">GET</td>
              <td>/nota</td>
              <td>/usuario</td>
              <td>/</td>
              <td>{username}</td>
              <td>Nos trae una lista segun el {username} del sistema </td>
              <td>ip:port/nota/usuario/elMonedita</td>
            </tr>
             <tr>
              <td class="negri">GET</td>
              <td>/nota</td>
              <td>/titulo</td>
              <td>/</td>
              <td>{titulo}</td>
              <td>Nos trae una lista de notas si en el titulo contiene al menos el {titulo} ingresado </td>
              <td>ip:port/nota/titulo/tangacorta</td>
            </tr>
            <tr>
              <td class="negri">GET</td>
              <td>/nota</td>
              <td>/texto</td>
              <td>/</td>
              <td>{texto}</td>
              <td>Nos trae una lista de notas si en el texto contiene al menos el {texto} ingresado.  <span class="roji2"><a href="#nota1">NOTA 1</a></span> </td>
              <td>ip:port/nota/texto/rompio%20el%20vidrio</td>
            </tr>
            <tr>
              <td class="negri">GET</td>
              <td>/nota</td>
              <td>/fecha</td>
              <td>/</td>
              <td>{fecha}</td>
              <td>Devuelve todas las notas en que correspondan a la fecha <span class="negri">yyyy-MM-dd</span></td>
              <td>ip:port/nota/fecha/2020-10-21</td>
            </tr>
            <tr>
              <td class="negri">GET</td>
              <td>/nota</td>
              <td>/fecha/hora/</td>
              <td>/</td>
              <td>{querys}</td>
              <td>Va a devolver todas las notas entre dos timestamp enviados. <span class="roji2">AUN NO IMPLEMENTADO</span></td>
              <td>ip:port/nota/fecha/hora/<td>
            </tr>
            <tr>
              <td class="negri">POST</td>
              <td>/nota</td>
              <td>/</td>
              <td>NONE</td>
              <td>NONE</td>
              <td>Ingresa una nota nueva asociadaa al usuario enviado, chequeaando el mismo esta activo <span class="ita">(consultar esto)</span><br><br>
                <span class="negri">Ejemplo: </span><br><br>
                <code>     
                  {
                  "nota": { 
                    "titulo":"Nota test" ,
                    "texto":"postaasdasdsad"
                  },
                  "user":{
                    "login":"jch321",
                    "password":"1234"
                }
                </code>
              </td>
              <td>ip:port/nota/</td>
            </tr>
            <tr>
              <td class="negri">PUT</td>
              <td>/nota</td>
              <td>/</td>
              <td>NONE</td>
              <td>NONE</td>
              <td>Modifica una nota existente, modifica la nota con ID: 1<br><br>
                <span class="negri">Ejemplo: </span><br><br>
                <code>      
                  {
        "id": 1,
        "titulo": "Nota test",
        "texto": "texto modificado3",
    }</code>
     </td>
              <td>ip:port/nota/</td>
            </tr>
          </tbody>
      </table>
      </div>
       <!-- Separaador -->
      <br>
      <br>
      <br>
      <div class="notas">
      <p style="font-style: italic; font-size: 10px;">&#169; Todos los derechos reservados para GMM Ventas, Maldonado, Punta del Este, Uruguay. 2020.</p></div>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <!-- Separaador -->
      <div class="notas">
        <p class="title-notas">Notas</p><br>
        <p>
          <span id="nota1" class="negri2">Numero 1:</span> Como primera iteracion, el filtro no es muy bueno. Ejemplo si la nota tiene el texto <span style="font-family: verdana; font-weight: bold;">"... se rompio el vidrio ..."</span>, si yo busco <span style="font-family: verdana; font-weight: bold;">"rompio vidrio"</span> no retorna nada.
        </p>
        <br>
    </div>
     <div class="footer">
        <div class="icon-upper-gmm">
          <a href="#"><img src="../utils/COSOAarrow.png"> </a>
        </div>
      </div>
     </body>
    </html>



